@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --round-button-active-color: #212121;
  --translate-main-slider: 100%;
  --main-slider-color: #e3f2fd;
  --translate-filters-slider: 0;
  --filters-container-height: 3.8rem;
  --filters-wrapper-opacity: 1;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

ul.filter-tabs {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}

.animate-jello {
  animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.filters-wrapper {
  position: relative;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  padding-left: 0;
}

.filter-tabs {
  padding: 0.3rem;
  overflow: hidden;
  background-color: #bedbf8;
}

.filter-tabs li {
  position: relative;
  z-index: 1;
  display: flex;
  flex: 0 0 15%;
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  height: 3rem;
  padding: 0 1.5rem;
  color: rgb(39, 72, 95);
  font-weight: 400;
  font-size: 1rem;
}

.filter-button.filter-active {
  transition: color 0.4s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(202, 224, 240);
  text-decoration: underline;
}

.filter-slider {
  pointer-events: none;
  position: absolute;
  padding: 0.3rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.filter-slider-rect {
  height: 3rem;
  width: 15%;
  border-radius: 0.8rem;
  background-color: #2779ce;
  box-shadow: 0 0.1rem 1rem -0.4rem rgba(0, 0, 0, 0.12);
  transition: transform 0.4s ease-in-out;
  transform: translateX(var(--translate-filters-slider));
}
.row .filters-wrapper {
  padding-left: 0 !important;
}
